.button {
    display: flex;
    margin: 0 auto;
}

.expenses {
    margin-bottom: 20px;
}

.subtitle {
    font-weight: 400;
    margin-bottom: 10px;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; 
}

.text {
    font-weight: 300;
}