.container {
    max-width: 1020px;
    margin: 150px auto 0;
}

.header {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    color: rgb(75 72 72);
    margin-bottom: 50px;
}

.title {
    margin-bottom: 10px;
}
