.form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}

.title {
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

.subtitle {
    font-weight: 300;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    margin-bottom: 20px;
}