.form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.title {
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

.input {
    width: 100%;
    margin-bottom: 20px;
}

.result {
    margin-top: 20px;
    font-weight: 300;
    text-align: center;

    span {
        font-weight: 400;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.button {
    width: 45%;
}